@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
	--background:  linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
	--color-primary: #FA3162;
	--color-secondary: #F95757;
	--boton-padding:  20px 40px;
}

body{
	font-family: 'Raleway', sans-serif;
}

.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px 0;
	max-width: 1200px;
}

.subtitle{
	color: var(--color-primary);
	font-size: 2.5rem;
	margin-bottom: 35px;
}

.hero{
	height: 100vh;
	background-image: var(--background), url('../assets/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

.hero .container{
	padding: 0;
}

.nav{
	display: flex;
	justify-content: flex-end;
	height: 70px;
	align-items: center;
	font-weight: 700;
}

.nav--footer{
	font-weight: 300;
	justify-content: flex-start;
}

.nav__items{
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	padding: 10px 15px;
	font-weight: inherit;
}

.nav__items--cta{
	border: 1px solid #fff;
}

.nav__items--footer{
	padding: 10px;
}

.hero__container{
	display: flex;
	height: calc(100vh - 70px);
	align-items: center;
	color: #fff;
}

.hero__texts{
	width: 80%;
	margin-bottom: 150px;
}

.hero__title{
	font-size: 3.2rem;
}

.hero__cta{
	display: inline-block;
	background: #fff;
	padding: var(--boton-padding);
	color: var(--color-primary);
	text-decoration: none;
	border-radius: 40px;
}


.hero__subtitle{
	font-size: 2rem;
	font-weight: 300;
	margin: 15px 0;
}

.hero__wave{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

/* About */

.presentation{
	padding-top: 0;
	text-align: center;
}

.presentation__picture{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 10px;
	object-fit: cover;
	object-position: top;

}

.presentation__copy{
	width: 80%;
	margin: 0 auto;
}

.presentation__cta{
	display: inline-block;
	margin-top: 30px;
	background: var(--color-primary);
	color: #fff;
	text-decoration: none;
	padding: var(--boton-padding);
	border-radius: 40px;
}

.about{
	min-height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 100px;
	justify-items: center;
	align-items: center;

}

.about__img{
	text-align: center;
}

.about__img--left{
	text-align: left;
}

.about__picture{
	max-width: 80%;
}

.about__paragraph{
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 300;
}

/* Proyects */

.proyects{
	background: #f2f2f2;
}

.proyects__grid{
	display: grid;
	height: 550px;
	grid-template-areas:
	"avion1 avion1 avion2 avion3" 
	"avion1 avion1 avion4 avion5";
	gap: 10px;
}

.proyects__item{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

.proyects__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.proyects__item:nth-of-type(1){
	grid-area: avion1;
}

.proyects__item:nth-of-type(2){
	grid-area: avion2;
}

.proyects__item:nth-of-type(3){
	grid-area: avion3;
}

.proyects__item:nth-of-type(4){
	grid-area: avion4;
}

.proyects__item:nth-of-type(5){
	grid-area: avion5;
}

.proyects__hover{
	position: absolute;
	background: #dc143c8c;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateX(100%);
	cursor: pointer;
	transition: transform .3s ease-in-out;
}

.proyects__item:hover .proyects__hover{
	transform: translateX(0%);
}

.proyects__icon{
	margin-top: 10px;
	font-size: 30px;
}

/* Testimony */

.testimony__grid{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.testimony__item{
	width: 95%;
	margin: 0 auto;
	background: var(--color-secondary);
	box-shadow: 0 8px 10px rgba(66,66,66, .5);
	border-radius: 7px;
	padding: 30px 25px;
	color: #fff;
	margin-bottom: 50px;
}

.testimony__person{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.testimony__img{
	width: 100px;
	min-width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
	border:  3px solid #fff;
	margin-right: 30px;
}

.testimony__name{
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.testimony__verification{
	color: #E0AFA0;
	font-weight: 700;
}

.testimony__review{
	font-weight: 300;
}

/* Footer */

.footer{
	background: var(--color-primary);
}

.footer__grid{
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 20px;
	align-items: center;
}

.footer__title{
	font-weight: 400;
	color: #fff;
	font-size: 2rem;
	margin-bottom: 30px;
	text-align: center;

}

.footer__icons{
	display: flex;
	justify-content: space-evenly;
}

.footer__container-icons{
	display: inline-block;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
	line-height: 70px;
}

.footer_icons{
	color: inherit;
	font-size:30px ;
	text-decoration: none;
} 

/* Responsive Design */

@media screen and (max-width: 700px){
	:root{
		--boton-padding: 18px 40px;
	}

	.nav{
		justify-content: space-around;
	}

	.nav__items--cta{
		border:  none;
		}


	.nav__items{
		font-weight: 400;
		border-bottom: 1px solid #fff;
		margin-right: 0;
	}

	
	.nav__items--footer{
		border: none;
	}

	.hero__texts{
		width: 100%;
		margin-bottom: 80px;
	}

	.hero__title{
		font-size: 2.5rem;
	}

	.hero__subtitle{
		font-size: 1.5rem;
	}

	/* About */

	.presentation__copy{
		width: 100%;
	}

	.about{
		grid-template-columns: 1fr;
	}

	.about.container{
		padding-top: 30px;
	}

	.about__img--left{
		text-align: center;
	}

	.about__texts:last-child{
		grid-row: 3/4;
	}

	/* My Proyects */

	.proyects__grid{
		grid-template-areas:
		 "avion1 avion1 avion2 avion2"
		 "avion1 avion1 avion3 avion3"
		 "avion4 avion4 avion5 avion5";
	}

	/* Testimony */

	.testimony__grid{
		grid-template-columns: 1fr;
		gap: 30px;
	}

	/* Footer */

	.footer__grid{
		grid-template-columns: 1fr;
	}

	.footer__contact{
		grid-row: 1/2;
	}




	.about__imagenes{
		grid-template-columns: 1fr ;
	
	}

	.about-imagenes.container{
		padding-top: 30px;
		
	}

	.about__imagenes--left{
		text-align: center;
	}

	.about__texts{ 
		grid-row: 3/4;
	}



}


@media screen and (max-width: 500px){
	:root{
		--boton-padding: 18px 35px;
	}

	.subtitle{
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.nav{
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-top: 10px;
	}

	.nav__items{
		padding: 0 10px;
		border: 0;
	}

	.hero__texts{
		text-align: center;
		margin-bottom: 100px;
	}

	.hero__title{
		font-size: 2rem;
	}

	/* About */

	.presentation__picture{
		width: 120px;
		height: 120px;
	}

	.about{
		row-gap: 60px;
	}

	.about.container{
		padding-top: 10px;
	}

	/* My proyects */

	.proyects__grid{
		grid-template-areas: 
		"avion1"
		"avion2"
		"avion3"
		"avion4"
		"avion5";
		height: auto;
		grid-template-rows: repeat(5, 250px);
		grid-auto-rows: 250px;
		gap: 10px;
	}

	/* Testimony */

	.testimony__item{
		padding: 30px 15px;
	}

	.testimony__person{
		flex-direction: column;
	}

	.testimony__texts{
		text-align: center;
	}

	.testimony__img{
		margin: 0;
		margin-bottom: 20px;

	}

	.about__imagenes{
		row-gap: 60px;
	}

	.about-imagenes.container{
		padding-top: 10px;
	}

}




/* Video */

.hero-video{
	height: 100vh;
	background-image: var(--background), url('../assets/hero1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

.body-video{
	background: #f2f2f2;
}

.main{
	width: 100%;
	margin: auto;
	background: #f2f2f2;
}

.subtitle__video{
	text-align: center;
	padding-top: 50px;
	font-size: 2rem;
	font-weight: 300;
	margin: 15px 0;
}

.video{
	width: 60%;
	padding-top: 30px;
	margin-left: 260px;
}

.container-video{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
	
}

.container-video iframe{
	position: absolute;
	top: 50px;
	left: 230px;
	width: 65%;
	height: 65%;
}

/* Imagenes */

.hero-imagenes{
	height: 100vh;
	background-image: var(--background), url('../assets/hero2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

.imagenes__subtitle{
	text-align: center;
	padding-top: 50px;
	font-size: 2rem;
	font-weight: 300;
	margin: 15px 0;	
}

.about-imagenes{
	min-height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 100px;
	justify-items: center;
	align-items: center;

}

.about__imagenes{
	text-align: center;
}

.about__imagenes--left{
	text-align: left;
}

.about__picture-imagenes{
	max-width: 80%;
}

.about__paragraph-imagenes{
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 300;






